In [39]:
import numpy as np
import pandas as pd
import ast

movies = pd.read_csv('movies.csv')
credit = pd.read_csv('credits.csv')

In [ ]:
movies.head(1)

In [ ]:
credit.head(1)['crew'].values

In [40]:
movies = movies.merge(credit, on='title')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### list we need to keep
genres,
id,
keywords,
titles,
overview,
cast,
crew,

In [41]:
movies = movies[['id','title','genres','overview','keywords','cast','crew']]

In [42]:
movies.isnull().sum

<bound method DataFrame.sum of          id  title  genres  overview  keywords   cast   crew
0     False  False   False     False     False  False  False
1     False  False   False     False     False  False  False
2     False  False   False     False     False  False  False
3     False  False   False     False     False  False  False
4     False  False   False     False     False  False  False
...     ...    ...     ...       ...       ...    ...    ...
4804  False  False   False     False     False  False  False
4805  False  False   False     False     False  False  False
4806  False  False   False     False     False  False  False
4807  False  False   False     False     False  False  False
4808  False  False   False     False     False  False  False

[4809 rows x 7 columns]>

In [43]:
movies.dropna(inplace=True)

In [44]:
movies.duplicated().sum()

np.int64(0)

In [45]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
# need to convert into ['Action', 'Adventure', 'Fantasy', 'SciFi']

In [46]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [47]:
movies['genres'] = movies['genres'].apply(convert)

In [48]:
movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
movies['cast'][0]

In [49]:
def convert5(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 5:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [50]:
movies['cast'] = movies['cast'].apply(convert5)

In [51]:
def get_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [52]:
movies['crew'] = movies['crew'].apply(get_director)

In [55]:
movies['overview'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [54]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [56]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])

In [57]:
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [ ]:
movies.head()

In [58]:
movies['tags']= movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [59]:
movies.head()

,id,title,genres,overview,keywords,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [60]:
new_df = movies[['id', 'title', 'tags']]

In [61]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\rudra\AppData\Local\Temp\ipykernel_8944\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [62]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\rudra\AppData\Local\Temp\ipykernel_8944\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [64]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez jamescameron'

In [65]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [72]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [73]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      shape=(5000,), dtype=object)

In [69]:
#  we need to apply stemming  which convert action ,actions into single word that is action
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y =[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [71]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\rudra\AppData\Local\Temp\ipykernel_8944\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [ ]:
# we need to fetch cosine distance and dont need euclidean distance

In [74]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_mat = cosine_similarity(vectors)

In [75]:
similarity_mat[0]

array([1.        , 0.07897472, 0.0836242 , ..., 0.04484485, 0.        ,
       0.        ], shape=(4806,))

In [82]:
# recommend function 

def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity_mat[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(i)

In [83]:
recommend('The Dark Knight')

(3, np.float64(0.42459591394742036))
(119, np.float64(0.40516337191403146))
(428, np.float64(0.3245911725587916))
(299, np.float64(0.28369507818132095))
(1361, np.float64(0.27273394144642393))

In [78]:
new_df[new_df['title'] == 'Batman Begins']

      id          title                                               tags
119  272  Batman Begins  driven by tragedy, billionair bruce wayn dedic...

In [80]:
import pickle
pickle.dump(new_df.to_dict(), open('movies.pkl','wb'))

In [81]:
pickle.dump(similarity_mat, open('similarity.pkl', 'wb'))

In [84]:
new_df

,id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...